<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Fort</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style2.css') }}">  
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Sub-header section -->
    <section class="sub-header-red">
        <nav>
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='images3/LOGOMAIN.png') }}" alt="Logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('blog') }}">Upload</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Red Fort</h1>
    </section>
    
    <!-- About Us content -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Red Fort, Delhi</h1>
                <p>The Red Fort, also known as <b>Lal Qila</b> is a historic Mughal fort in Delhi, India, that served as the primary residence of the Mughal emperors. Emperor Shah Jahan commissioned the construction of the Red Fort on 12 May 1639, following his decision to relocate the Mughal capital from Agra to Delhi. Originally adorned in red and white, the fort's design is attributed to Ustad Ahmad Lahori, the architect behind the Taj Mahal.</p>
                <p>The fort was plundered and stripped of its artwork and jewels during Nadir Shah's invasion of the Mughal Empire in 1739. Most of the fort's marble structures were subsequently demolished by the British following the Indian Rebellion of 1857. The fort's defensive walls were largely undamaged, and the fortress was subsequently used as a garrison.
                    On 15 August 1947, the first Prime Minister of India, Jawaharlal Nehru, raised the Indian flag above the Lahori Gate. On India's Independence Day, observed annually on 15 August, the Prime Minister ceremonially raises the Indian tricolour flag at the main gate of the historic fort and delivers a nationally broadcast address from its ramparts.</p>
                <a href="https://www.youtube.com/watch?v=nznsdcazwqc&t=127s" class="hero-btn red-btn">Watch the Video ▶️</a>
            </div>
            <div class="about-col">
                <img src="images/Delhi_fort.jpg" alt="About Image">
                <img src="{{ url_for('static', filename='images3/Delhi_fort.jpg') }}" alt="About Image">

            </div>
        </div>
    </section>

    <div class="info-grid">
        <div class="info-card">
            <h3>Opening Time</h3>
            <p>9.30 AM</p>
        </div>
        <div class="info-card">
            <h3>Entry Fee</h3>
            <p>35/- per head</p>
        </div>
        <div class="info-card">
            <h3>Closing Time</h3>
            <p>4:30 PM</p>
        </div>
    </div>
    
    <h5>Additional Features That We Provide:</h5>

    <section class="nearby-places">
        <div class="places-grid">
            <div class="place-card">
                <h3>Nearby Restaurants</h3>
                <ul>
                    
                </ul>
            </div>
            <div class="place-card">
                <h3>Nearby Hotels</h3>
                <ul>
                    
                </ul>
            </div>
            <div class="place-card">
                <h3>Nearby Places to Visit</h3>
                <ul>
                    
                </ul>
            </div>
            <div class="place-card">
                <h3>Weather Condition</h3>
                
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <section class="footer">
        <h4>About Us</h4>
        <div class="icons">
            <a href="https://github.com/ParthivVarati"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/parthiv_varma_/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/naga-parthiv/"><i class="fa fa-linkedin"></i></a>
        </div>
    </section>
  
    <!-- JavaScript for toggle menu -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>